* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #606060;
  color:#ffffff;
  height: 100%;
}

.game-display: {
  width: 90%;
}

#map-title {
  margin-left: 370px;
  height: 180px;
}

.header {
  height: 180px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #606060;
  padding: 0 20px;
}

.map-display {
    position: absolute;
    top: 180px;
    width:90%;
    height: 100%;
    bottom: 0;
    overflow: auto;
    z-index: 0;
}

#pics {
  width: 370px;
  background-color: #ccc;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display:none;
}

#pics .insta{
  margin:15px;
  width:330px;
  height:auto;
  -webkit-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.75);
  }

.modal {
  color: #606060;
}

#next-round {
  display: none;
}
